@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&family=Titillium+Web:wght@400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'EB Garamond', serif;
    font-size: 18px;
    line-height: 160%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Titillium Web', sans-serif;
  }
}

@layer utilities {
  .before-bg-addon {
    @apply before:absolute before:-z-[1] before:block before:h-[116px] before:w-[116px] before:rounded-[10px];
  }

  .after-bg-addon {
    @apply after:absolute after:-z-[1] after:block after:h-[116px] after:w-[116px] after:rounded-[10px];
  }

  .btn-base {
    transition: all 0.3s;
    @apply inline-block rounded-full px-6 py-2 font-heading transition-colors duration-500;
  }

  .btn-primary {
    @apply btn-base border border-primary-500 bg-primary-500 text-white hover:bg-white hover:text-primary-500;
  }

  .btn-primary-outline {
    @apply btn-base border border-primary-500 text-primary-500 hover:bg-primary-500 hover:text-white;
  }
  /* .btn-primary:hover {
    box-shadow: inset 0 0 0 2em #fff;
    transition: all 0.5s;
  } */

  .btn-white {
    @apply btn-base border border-white bg-white text-primary-500 hover:bg-primary-500 hover:text-white;
  }

  .btn-white-outline {
    @apply btn-base border border-white text-white hover:bg-white hover:text-primary-500;
  }
}
